* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
html {
  font-size: 18px;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  color: hsl(0deg, 0%, 0%);
  background-color: hsl(0deg, 0%, 60%);
}
h1 {
  font-size: 2rem;
  padding: 32px 0;
}
h2 {
  font-size: 1.25rem;
}
strong {
  color: hsl(160deg, 100%, 30%);
}
header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 100%);
}
main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 64px 0;
}

.max-width-wrapper {
  margin: 0 auto;
  width: 640px;
}

.intro-chunk {
  margin: 0 24px;
  padding: 32px 0;
  width: 384px;
}
.intro-chunk p {
  font-size: 1.25rem;
}

.card {
  padding: 32px 24px 8px 24px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}
.card h2 {
  margin: -26px 0 0 -48px;
  padding: 16px 48px;
  width: max-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
.card p {
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .max-width-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .intro-chunk {
    width: 90%;
  }
  .card h2 {
    width: 110%;
  }
}
